/* Font import*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/**/
/* Reset and config of page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.clear {
  clear: both;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

/* End reset and config of page*/
/* Start header */
header {
  padding: 20px 2%;
}
header .logo img {
  float: left;
  width: 150px;
}
header nav.menu-desktop {
  float: right;
}
header nav.menu-desktop ul {
  padding: 25px 0;
  list-style-type: none;
}
header nav.menu-desktop ul li {
  float: left;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
}
header nav ul li a {
  color: #b4b4b4;
  text-decoration: none;
}
header nav.menu-mobile {
  display: none;
  float: right;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url(../images/menu-mobile.png);
  background-size: 100% 100%;
  margin-top: 20px;
}
header nav.menu-mobile ul {
  display: none;
  z-index: 999;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: white;
}
header nav.menu-mobile ul li {
  padding: 10px 0;
  text-transform: uppercase;
}

/* End header */
/* Mosaic section */
.mosaic-single {
  float: left;
  width: 16.6666666667%;
}
.mosaic-single .img-mosaic-single {
  width: 100%;
  padding-top: 100%;
  background-color: #ccc;
  border: 5px solid white;
  /* background-image: url(); */
}

/**/
/* Services section */
section.services .container {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
  top: -30px;
  text-align: center;
}
section.services .container .box-services {
  background-image: url(../images/icone_dente.png);
  background-size: 18px 18px;
  background-position: center calc(100% - 5px);
  background-repeat: no-repeat;
}
section.services .container .box-services h2 {
  color: white;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
}
section.services .container .box-services p {
  color: white;
  margin-top: 8px;
  font-weight: normal;
  font-size: 12px;
}
section.services .container .box-services:nth-of-type(1) {
  width: 30%;
  padding: 30px 2%;
  background-color: #576975;
}
section.services .container .box-services:nth-of-type(2) {
  width: 40%;
  padding: 45px 2%;
  background-color: #688293;
  background-image: none;
}
section.services .container .box-services:nth-of-type(3) {
  width: 30%;
  padding: 30px 2%;
  background-color: #576975;
}

/* End services section*/
/* Start perfil section*/
section.perfil-container {
  padding: 40px 0;
}
section.perfil-container .container {
  max-width: 800px;
}
section.perfil-container .perfil-wraper {
  padding-top: 60%;
  position: relative;
}
section.perfil-container .perfil-wraper2 {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
section.perfil-container .img-perfil {
  width: 40%;
  height: 100%;
  background-image: url(../images/img_perfil.png);
  background-size: 100% 100%;
}
section.perfil-container .text-perfil {
  width: 60%;
  padding: 0 30px;
}
section.perfil-container .text-perfil h2 {
  color: #698293;
  font-size: 18px;
}
section.perfil-container .text-perfil p {
  color: #4b4b4b;
  font-size: 14px;
  margin-top: 8px;
}

/* End perfil section*/
/* Start video section*/
section.videos {
  padding: 50px 0;
}
section.videos .box-video {
  float: left;
  width: 33.3%;
  padding-top: 19.98%;
  position: relative;
  border: 5px solid white;
}
section.videos iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* End video section */
/* Start treatment section*/
section.treatment {
  padding: 70px 0;
}
section.treatment h2 {
  color: #698273;
  text-align: center;
  font-size: 18px;
}
section.treatment .container {
  padding: 70px 0;
}
section.treatment .treatment-container {
  float: left;
  width: 33.3%;
}
section.treatment .treatment-single {
  padding: 20px;
}
section.treatment .treatment-single h2 {
  font-size: 18px;
  color: #737373;
}
section.treatment .treatment-single p {
  padding: 10px 0;
  font-size: 13px;
  color: #b4b4b4;
}

/* End treatment section */
/* Start depositions section */
section.depositions h2 {
  color: #698293;
  text-align: center;
  font-size: 18px;
}
section.depositions .container {
  padding: 40px 0;
  max-width: 400px;
}
section.depositions .depositions-single {
  text-align: center;
  width: 100%;
  padding: 0 2%;
}
section.depositions .depositions-single quote {
  font-size: 15px;
  color: #4b4b4b;
}
section.depositions .name-depositions {
  padding: 19px 0;
}
section.depositions .name-depositions img {
  border-radius: 16px;
  width: 32px;
  height: 32px;
}
section.depositions .name-depositions span {
  position: relative;
  top: 8px;
  font-size: 13px;
  color: #b4b4b4;
  display: inline-block;
  vertical-align: top;
}

/* End depositions section*/
/* Start social section */
.instagram-call {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #98a5ae;
}
.instagram-call p {
  line-height: 20px;
  color: white;
  padding: 10px 0;
  font-size: 13px;
}

.social-mosaic {
  float: left;
  width: 100%;
}

.img-mosaic-single-social {
  float: left;
  width: 11.1111111111%;
  padding-top: 11.1111111111%;
  background-color: blue;
  border: 6px solid white;
}

.facebook-call {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background-color: #576975;
}
.facebook-call p {
  line-height: 20px;
  color: white;
  padding: 10px 0;
  font-size: 13px;
}

/* End social section*/
/* Start contact section */
section.contactForm {
  padding: 60px 2%;
}
section.contactForm h2 {
  color: #688293;
  text-align: center;
  font-size: 18px;
}
section.contactForm form {
  width: 100%;
  margin: 30px auto;
  max-width: 500px;
}
section.contactForm .w100 {
  width: 100%;
}
section.contactForm .w50 {
  width: 50%;
}
section.contactForm .form-wraper {
  float: left;
  margin-top: 10px;
  padding: 0 10px;
}
section.contactForm .form-wraper span {
  font-size: 15px;
  color: #b4b4b4;
}
section.contactForm .form-wraper input[type=text] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 9px;
  border: 1px solid #dadada;
  margin-top: 8px;
}
section.contactForm .form-wraper textarea {
  width: 100%;
  height: 121px;
  margin-top: 8px;
  padding: 15px;
  resize: none;
  border: 1px solid #dadada;
}
section.contactForm .form-wraper input[type=submit] {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 0;
  background: #688293;
  color: white;
  cursor: pointer;
}

/* End contact section */
/* Start footer section */
footer {
  padding: 40px 2%;
  background-color: #688293;
}
footer .container {
  max-width: 1100px;
}
footer .footer-block {
  float: left;
  width: 33.3%;
}
footer .footer-block h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
}
footer .footer-block p {
  color: white;
  font-size: 14px;
  margin-top: 8px;
}

/* End footer section */
/* Media querys */
@media screen and (max-width: 1024px) {
  .img-mosaic-single-social {
    width: 16.6666666667%;
    padding-top: 16.6666666667%;
  }
  .social-mosaic div:nth-of-type(1n + 7) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header nav.menu-desktop {
    display: none;
  }
  header nav.menu-mobile {
    display: block;
  }
  section.services .container {
    flex-direction: column;
  }
  section.services .container .box-services:nth-of-type(1) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
  }
  section.services .container .box-services:nth-of-type(2) {
    width: 94%;
    padding: 40px 2%;
    max-width: 380px;
    background-image: none;
  }
  section.services .container .box-services:nth-of-type(3) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
  }
  section.perfil-container .perfil-wraper2 {
    height: auto;
    position: static;
    display: inline-block;
    text-align: center;
  }
  section.perfil-container .perfil-wraper {
    padding-top: 0;
  }
  section.perfil-container .img-perfil {
    width: 50%;
    height: auto;
    padding-top: 70%;
    display: inline-block;
  }
  section.perfil-container .text-perfil {
    width: 100%;
    padding: 0 30px;
    display: inline-block;
    text-align: justify;
  }
  section.perfil-container .text-perfil h2 {
    color: #698293;
    font-size: 18px;
  }
  section.perfil-container .text-perfil p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
  }
  section.videos {
    padding: 50px 0;
    text-align: center;
  }
  section.videos .box-video {
    float: none;
    display: inline-block;
    width: 95%;
    padding-top: 60%;
    position: relative;
    border: 5px solid white;
  }
  .img-mosaic-single-social {
    width: 33.3333333333%;
    padding-top: 33.3333333333%;
  }
  .social-mosaic div:nth-of-type(1n + 4) {
    display: none;
  }
  footer {
    text-align: center;
  }
  footer .footer-block {
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}
@media screen and (max-width: 580px) {
  section.perfil-container .img-perfil {
    width: 80%;
    height: auto;
    padding-top: 110%;
    display: inline-block;
  }
  section.videos .box-video {
    width: 100%;
    padding-top: 60%;
  }
  section.contactForm .w50 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  header .logo img {
    width: 150px;
  }
}
/* End Media querys*//*# sourceMappingURL=style.css.map */